// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-color: #FFFFFF; // White
$secondary-color: #6CA5FB; // Light Blue
$accent-color: #16205E; // Dark Blue
$background-color: #2E339E; // Darker Blue
$highlight-color: #188BD2; // Bright Blue
$text-color: $primary-color; // White text on dark background
