<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<div class="skills-grid">
  <%= render 'skills/list', skills: @skills, selected_skill: nil %>
  <div class="text-secondary">chosse a skill to see more details </div>
</div>
