<div class="container" style="background-image: url('/assets/back.webp'); background-size: cover; background-position: center; padding: 2rem;">
    <div class="skills-grid">
      <%= render 'skills/list', skills: @skills, selected_skill: nil %>
    </div>
</div>
