<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<div class="skills-grid">
  <%= render 'skills/list', skills: @skills, selected_contact: @contact %>
  <%= render 'skills/details', skills: @skills %>
</div>
