<h1><%= @learning_path.skill.name %> Learning Path</h1>

<ul>
  <% @milestones.each do |milestone| %>
    <li>
      <strong><%= milestone.title %></strong>
      <p><%= milestone.description %></p>
      <p>Status: <%= milestone.completed ? "Completed" : "Not Completed" %></p>
    </li>
  <% end %>
</ul>
