.congratulations-page {
  .confetti {
  position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle cx="5" cy="5" r="5" fill="%23fcd34d"/></svg>');
    animation: confetti-fall 10s linear infinite;
  }
  @keyframes confetti-fall {
    0% { transform: translateY(-100vh); }
    100% { transform: translateY(100vh); }
  }
}
