.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 3px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: auto;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.50;
  text-decoration: wavy;
  font-size: 24px;
  padding: 2px 10px;
}
.footer-links a:hover {
  opacity: 2;
}
.footer .fa-heart {
  color: #f00a0a;
}


.footer {
  background-color: #16205E;
  color: whitesmoke;
  padding: 20px;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
